In [69]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import patsy
%matplotlib inline

In [2]:
!wc -l train.csv

51000 train.csv

In [59]:
!wc -l test.csv

51001 test.csv

In [3]:
! head train.csv

Id,Hazard,T1_V1,T1_V2,T1_V3,T1_V4,T1_V5,T1_V6,T1_V7,T1_V8,T1_V9,T1_V10,T1_V11,T1_V12,T1_V13,T1_V14,T1_V15,T1_V16,T1_V17,T2_V1,T2_V2,T2_V3,T2_V4,T2_V5,T2_V6,T2_V7,T2_V8,T2_V9,T2_V10,T2_V11,T2_V12,T2_V13,T2_V14,T2_V15
1,1,15,3,2,N,B,N,B,B,D,7,B,B,15,1,A,B,N,36,11,N,10,B,2,37,1,11,6,Y,N,E,2,2
2,4,16,14,5,H,B,N,B,B,C,12,B,B,10,3,A,B,Y,78,10,Y,17,C,2,22,1,18,5,Y,Y,E,2,1
3,1,10,10,5,N,K,N,B,B,E,12,H,B,15,1,A,R,Y,71,21,Y,13,C,6,37,2,14,6,Y,Y,E,6,1
4,1,18,18,5,N,K,N,B,B,E,3,H,B,15,1,A,R,N,71,13,N,15,A,2,25,1,1,6,Y,N,C,2,6
5,1,13,19,5,N,H,N,B,B,E,7,H,B,10,1,A,J,N,75,10,Y,11,B,1,22,1,2,7,N,N,E,1,1
12,1,14,12,2,N,K,N,B,B,E,12,H,B,15,1,A,K,N,65,10,N,14,A,1,37,1,5,7,N,N,A,1,9
15,5,8,17,1,E,K,N,B,B,E,8,H,B,20,1,A,K,N,100,14,N,16,A,2,25,1,20,3,Y,N,D,2,11
19,1,14,20,4,E,K,N,B,B,E,3,I,B,15,1,D,R,N,83,13,Y,5,A,2,40,1,18,7,Y,N,E,3,2
21,1,8,2,2,W,C,N,D,B,D,8,B,B,5,1,A,D,N,20,12,Y,4,B,1,34,1,13,5,N,N,A,2,1

In [4]:
! chardet train.csv

train.csv: ascii (confidence: 1.00)

In [56]:
train = pd.read_csv('./train.csv', sep = ',', index_col = 'Id')
test = pd.read_csv('./test.csv', sep = ',',index_col = 'Id')

train.shape, test.shape

((50999, 33), (51000, 32))

In [57]:
train.head(3)

,Hazard,T1_V1,T1_V2,T1_V3,T1_V4,T1_V5,T1_V6,T1_V7,T1_V8,T1_V9,...,T2_V6,T2_V7,T2_V8,T2_V9,T2_V10,T2_V11,T2_V12,T2_V13,T2_V14,T2_V15
Id,,,,,,,,,,,,,,,,,,,,,
1,1,15,3,2,N,B,N,B,B,D,...,2,37,1,11,6,Y,N,E,2,2
2,4,16,14,5,H,B,N,B,B,C,...,2,22,1,18,5,Y,Y,E,2,1
3,1,10,10,5,N,K,N,B,B,E,...,6,37,2,14,6,Y,Y,E,6,1

In [58]:
test.head(3)

,T1_V1,T1_V2,T1_V3,T1_V4,T1_V5,T1_V6,T1_V7,T1_V8,T1_V9,T1_V10,...,T2_V6,T2_V7,T2_V8,T2_V9,T2_V10,T2_V11,T2_V12,T2_V13,T2_V14,T2_V15
Id,,,,,,,,,,,,,,,,,,,,,
6,2,13,4,C,A,Y,B,B,D,12,...,2,28,1,22,6,Y,N,E,2,7
7,10,10,7,N,C,Y,B,B,D,8,...,3,28,1,4,3,Y,N,E,5,8
8,9,20,4,N,H,Y,B,B,E,8,...,2,22,1,1,7,N,N,C,6,1

In [60]:
full = pd.concat(objs = [train, test])

In [72]:
num_mask = np.array([True if obj != 'object' else False for obj in full.dtypes])

In [73]:
full_num = full.iloc[:,num_mask]
full_cat = full.iloc[:, ~num_mask]

full_num.shape, full_cat.shape

((101999, 17), (101999, 16))

In [75]:
full_num.head(3)

,Hazard,T1_V1,T1_V10,T1_V13,T1_V14,T1_V2,T1_V3,T2_V1,T2_V10,T2_V14,T2_V15,T2_V2,T2_V4,T2_V6,T2_V7,T2_V8,T2_V9
Id,,,,,,,,,,,,,,,,,
1,1,15,7,15,1,3,2,36,6,2,2,11,10,2,37,1,11
2,4,16,12,10,3,14,5,78,5,2,1,10,17,2,22,1,18
3,1,10,12,15,1,10,5,71,6,6,1,21,13,6,37,2,14

In [74]:
full_cat.head(3)

,T1_V11,T1_V12,T1_V15,T1_V16,T1_V17,T1_V4,T1_V5,T1_V6,T1_V7,T1_V8,T1_V9,T2_V11,T2_V12,T2_V13,T2_V3,T2_V5
Id,,,,,,,,,,,,,,,,
1,B,B,A,B,N,N,B,N,B,B,D,Y,N,E,N,B
2,B,B,A,B,Y,H,B,N,B,B,C,Y,Y,E,Y,C
3,H,B,A,R,Y,N,K,N,B,B,E,Y,Y,E,Y,C

## Make categorical variables

In [78]:
cat_names = full_cat.columns
cat_names

Index(['T1_V11', 'T1_V12', 'T1_V15', 'T1_V16', 'T1_V17', 'T1_V4', 'T1_V5',
       'T1_V6', 'T1_V7', 'T1_V8', 'T1_V9', 'T2_V11', 'T2_V12', 'T2_V13',
       'T2_V3', 'T2_V5'],
      dtype='object')

In [79]:
form = ' + '.join(cat_names)
form += ' - 1'
form

'T1_V11 + T1_V12 + T1_V15 + T1_V16 + T1_V17 + T1_V4 + T1_V5 + T1_V6 + T1_V7 + T1_V8 + T1_V9 + T2_V11 + T2_V12 + T2_V13 + T2_V3 + T2_V5 - 1'

In [80]:
x_dummies = patsy.dmatrix(form, full_cat, return_type='dataframe')

In [81]:
x_dummies.head(3)

,T1_V11[A],T1_V11[B],T1_V11[D],T1_V11[E],T1_V11[F],T1_V11[H],T1_V11[I],T1_V11[J],T1_V11[K],T1_V11[L],...,T2_V13[T.B],T2_V13[T.C],T2_V13[T.D],T2_V13[T.E],T2_V3[T.Y],T2_V5[T.B],T2_V5[T.C],T2_V5[T.D],T2_V5[T.E],T2_V5[T.F]
Id,,,,,,,,,,,,,,,,,,,,,
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,1,0,0,0
3,0,0,0,0,0,1,0,0,0,0,...,0,0,0,1,1,0,1,0,0,0

In [82]:
full_dummies = pd.concat([full_num, x_dummies], axis = 1)

In [84]:
train.shape, full_num.shape, full_cat.shape, x_dummies.shape, full_dummies.shape

((50999, 33), (101999, 17), (101999, 16), (101999, 80), (101999, 97))

In [91]:
split = np.isnan(full_dummies.Hazard)
train = full_dummies.loc[~split,:]
test  = full_dummies.loc[split ,:]

train.shape, test.shape

((50999, 97), (51000, 97))

## Train model